@using System.Net;
@using System.Net.NetworkInformation;

<link href="~/css/adminlte/adminlte.css" rel="stylesheet" asp-append-version="true">


<aside class="app-sidebar" data-bs-theme="dark">
    <div class="sidebar-brand mt-3">
        <a href="./index.html" class="brand-link mb-2">
            <img src="../../dist/assets/img/AdminLTELogo.png"
                 alt="AdminLTE Logo"
                 class="brand-image opacity-75 shadow" />
            <span class="brand-text fw-light">Logo</span>
        </a>
    </div>
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column"
                data-lte-toggle="treeview"
                role="menu"
                data-accordion="false">
                <li class="nav-item menu-open">
                    <a href="/plan/IndexPreparedShipment" class="nav-link">
                        <i class="nav-icon bi bi-airplane-fill"></i>
                        <p>
                            Shipment Plan
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Preparation/IndexPreparation" class="nav-link">
                        <i class="nav-icon bi bi-cart-plus-fill"></i>
                        <p>Shipment Preperation</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Completion/IndexInProgress" class="nav-link">
                        <i class="nav-icon bi bi-box-seam-fill"></i>
                        <p>
                            Shipment Completion
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-book-half"></i>
                        <p>
                            Shippment Log
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-diagram-2-fill"></i>
                        <p>
                            Subcont Monitoring
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi-box-seam-fill"></i>
                        <p>
                            Urgent Inspection
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-table"></i>
                        <p>
                            Contract Review
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-table"></i>
                        <p>
                            Temporary Loan
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-calendar2-check-fill"></i>
                        <p>
                            FAI Record
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-pencil-fill"></i>
                        <p>
                            Turn Back Collection
                        </p>
                    </a>
                </li>
                <li class="nav-header">MDI</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-bar-chart-line-fill"></i>
                        <p>
                            MDI Board
                        </p>
                    </a>
                </li>
                <li class="nav-header">SETTING</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-ui-checks-grid"></i>
                        <p>
                            Control Tower
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-gear-fill"></i>
                        <p>
                            Setting
                        </p>
                    </a>
                </li>
            </ul>

            @*<li class="nav-header">DOCUMENTATIONS</li>
                <li class="nav-item">
                    <a href="./docs/introduction.html" class="nav-link">
                        <i class="nav-icon bi bi-download"></i>
                        <p>Installation</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./docs/layout.html" class="nav-link">
                        <i class="nav-icon bi bi-grip-horizontal"></i>
                        <p>Layout</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./docs/color-mode.html" class="nav-link">
                        <i class="nav-icon bi bi-star-half"></i>
                        <p>Color Mode</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-ui-checks-grid"></i>
                        <p>
                            Components
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="./docs/components/main-header.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Main Header</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./docs/components/main-sidebar.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Main Sidebar</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-filetype-js"></i>
                        <p>
                            Javascript
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="./docs/javascript/treeview.html" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Treeview</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="./docs/browser-support.html" class="nav-link">
                        <i class="nav-icon bi bi-browser-edge"></i>
                        <p>Browser Support</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./docs/how-to-contribute.html" class="nav-link">
                        <i class="nav-icon bi bi-hand-thumbs-up-fill"></i>
                        <p>How To Contribute</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./docs/faq.html" class="nav-link">
                        <i class="nav-icon bi bi-question-circle-fill"></i>
                        <p>FAQ</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="./docs/license.html" class="nav-link">
                        <i class="nav-icon bi bi-patch-check-fill"></i>
                        <p>License</p>
                    </a>
                </li>
                <li class="nav-header">MULTI LEVEL EXAMPLE</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-circle-fill"></i>
                        <p>Level 1</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-circle-fill"></i>
                        <p>
                            Level 1
                            <i class="nav-arrow bi bi-chevron-right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Level 2</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>
                                    Level 2
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon bi bi-record-circle-fill"></i>
                                        <p>Level 3</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon bi bi-record-circle-fill"></i>
                                        <p>Level 3</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="nav-icon bi bi-record-circle-fill"></i>
                                        <p>Level 3</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon bi bi-circle"></i>
                                <p>Level 2</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-circle-fill"></i>
                        <p>Level 1</p>
                    </a>
                </li>
                <li class="nav-header">LABELS</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-circle text-danger"></i>
                        <p class="text">Important</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-circle text-warning"></i>
                        <p>Warning</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-circle text-info"></i>
                        <p>Informational</p>
                    </a>
                </li>
            </ul>*@
        </nav>
    </div>
</aside>

@*==================================*@

@*
    //var menuItems = new List<MenuItem>
    //{
    //        new MenuItem
    //        {
    //            Title = "Dashboard",
    //            Icon = "bi-speedometer",
    //            Link = "#",
    //            SubItems = new List<MenuItem>
    //{
    //                new MenuItem { Title = "Dashboard v1", Link = "./" },
    //                new MenuItem { Title = "Dashboard v2", Link = "./customers" },
    //                new MenuItem { Title = "Dashboard v3", Link = "./index3.html" }
    //            }
    //        },
    //        new MenuItem
    //        {
    //            Title = "Theme Generate",
    //            Icon = "bi-palette",
    //            Link = "./generate/theme.html",
    //            SubItems = new List<MenuItem>() // No sub-items here
    //        },
    //        new MenuItem
    //        {
    //            Title = "Widgets",
    //            Icon = "bi-box-seam-fill",
    //            Link = "#",
    //            SubItems = new List<MenuItem>
    //{
    //                new MenuItem { Title = "Small Box", Link = "./widgets/small-box.html" },
    //                new MenuItem { Title = "Info Box", Link = "./widgets/info-box.html" },
    //                new MenuItem { Title = "Cards", Link = "./widgets/cards.html" }
    //            }
    //        }
    //    };


    //var menuItems = new List<MenuItem>();

    //// Create and configure the Dashboard menu
    //var dashboardMenu = new MenuItem();
    //dashboardMenu.Title = "Dashboard";
    //dashboardMenu.Icon = "bi-speedometer";
    //dashboardMenu.Link = "#";
    //dashboardMenu.SubItems = new List<MenuItem>();

    //var dashboardSubItem1 = new MenuItem();
    //dashboardSubItem1.Title = "Dashboard v1";
    //dashboardSubItem1.Link = "./";

    //var dashboardSubItem2 = new MenuItem();
    //dashboardSubItem2.Title = "Dashboard v2";
    //dashboardSubItem2.Link = "./customers";

    //var dashboardSubItem3 = new MenuItem();
    //dashboardSubItem3.Title = "Dashboard v3";
    //dashboardSubItem3.Link = "./index3.html";

    //// Add sub-items to Dashboard
    //dashboardMenu.SubItems.Add(dashboardSubItem1);
    //dashboardMenu.SubItems.Add(dashboardSubItem2);
    //dashboardMenu.SubItems.Add(dashboardSubItem3);

    //// Add Dashboard to the main menu
    //menuItems.Add(dashboardMenu);

    //// Create and configure the Theme Generate menu
    //var themeMenu = new MenuItem();
    //themeMenu.Title = "Theme Generate";
    //themeMenu.Icon = "bi-palette";
    //themeMenu.Link = "./generate/theme.html";
    //themeMenu.SubItems = new List<MenuItem>(); // No sub-items

    //menuItems.Add(themeMenu);

    //// Create and configure the Widgets menu
    //var widgetsMenu = new MenuItem();
    //widgetsMenu.Title = "Widgets";
    //widgetsMenu.Icon = "bi-box-seam-fill";
    //widgetsMenu.Link = "#";
    //widgetsMenu.SubItems = new List<MenuItem>();

    //var widgetsSubItem1 = new MenuItem();
    //widgetsSubItem1.Title = "Small Box";
    //widgetsSubItem1.Link = "./widgets/small-box.html";

    //var widgetsSubItem2 = new MenuItem();
    //widgetsSubItem2.Title = "Info Box";
    //widgetsSubItem2.Link = "./widgets/info-box.html";

    //var widgetsSubItem3 = new MenuItem();
    //widgetsSubItem3.Title = "Cards";
    //widgetsSubItem3.Link = "./widgets/cards.html";

    //// Add sub-items to Widgets
    //widgetsMenu.SubItems.Add(widgetsSubItem1);
    //widgetsMenu.SubItems.Add(widgetsSubItem2);
    //widgetsMenu.SubItems.Add(widgetsSubItem3);

    //// Add Widgets to the main menu
    //menuItems.Add(widgetsMenu);


    //Iseng

    @*var hostname = Dns.GetHostName();
    var username = Environment.UserName;
    var ipAddress = Dns.GetHostEntry(hostname).AddressList.FirstOrDefault(x => x.AddressFamily == System.Net.Sockets.AddressFamily.InterNetwork)?.ToString();
    var macAddress = NetworkInterface.GetAllNetworkInterfaces()
        .Where(nic => nic.OperationalStatus == OperationalStatus.Up && nic.NetworkInterfaceType != NetworkInterfaceType.Loopback)
        .Select(nic => nic.GetPhysicalAddress().ToString())
        .FirstOrDefault();


    var menuItems = new List<MenuItem>();

    // Helper method to create a menu item
    MenuItem CreateMenuItem(string title, string icon = null, string link = null, List<MenuItem> subItems = null)
    {
        var menuItem = new MenuItem
        {
            Title = title,
            Icon = icon,
            Link = link,
            SubItems = subItems ?? new List<MenuItem>()
        };
        return menuItem;
    }

    // Populate the menu
    menuItems.Add(CreateMenuItem("Shipment Plant", "bi bi-airplane-fill", "./plan/indexPreparedShipment"));

    menuItems.Add(CreateMenuItem("Shipment Preparation", "bi bi-cart-plus-fill", "./generate/theme.html"));

    menuItems.Add(CreateMenuItem("Shipment Completion", "bi-box-seam-fill", "#"));

    menuItems.Add(CreateMenuItem("Shipment Log", "bi bi-book-half", "#"));

    menuItems.Add(CreateMenuItem("Subcont Monitoring", "bi bi-diagram-2-fill", "#"));

    menuItems.Add(CreateMenuItem("Urgent Inspection", "bi-box-seam-fill", "#"));

    menuItems.Add(CreateMenuItem("Contract Review", "bi-box-seam-fill", "#"));

    menuItems.Add(CreateMenuItem("Temporary Loan", "bi-box-seam-fill", "#"));

    menuItems.Add(CreateMenuItem("FAI Record", "bi bi-calendar2-check-fill", "#"));

    menuItems.Add(CreateMenuItem("Turn Back Collection", "bi bi-pencil-fill", "#"));

    menuItems.Add(CreateMenuItem("Control Tower", "bi bi-pencil-fill", "#"));
}

<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <div class="sidebar-brand">
        <a href="./index.html" class="brand-link">
            <img src="../../dist/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image opacity-75 shadow" />
            <span class="brand-text fw-light">(Logo Collins)</span>
       </a>
    </div>

    <div class="sidebar-wrapper">
        <nav class="mt-2">
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                @foreach (var item in menuItems)
                {
                    var hasSubItems = item.SubItems.Any();

                    // Menambahkan <hr> sebelum "Control Tower"
                    if (item.Title == "Control Tower")
                    {
                        <li class="nav-item">
                            <hr class="dropdown-divider">
                        </li>
                    }

                    <li class="nav-item" data-menu-title="@item.Title">
                        <a href="@item.Link" class="nav-link toggle-menu @(hasSubItems ? "has-submenu" : "")">
                            <i class="nav-icon bi @item.Icon" aria-hidden="true"></i>
                            <p>
                                @item.Title
                                @if (hasSubItems)
                                {
                                    <i class="nav-arrow bi bi-chevron-right"></i>
                                }
                            </p>
                        </a>
                        @if (hasSubItems)
                        {
                            <ul class="nav nav-treeview collapse">
                                @foreach (var subItem in item.SubItems)
                                {
                                    <li class="nav-item" data-menu-title="@subItem.Title">
                                        <a href="@subItem.Link" class="nav-link">
                                            <i class="nav-icon bi bi-circle" aria-hidden="true"></i>
                                            <p>@subItem.Title</p>
                                        </a>
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </nav>
    </div>
</aside>*@


@*<script>
        document.addEventListener("DOMContentLoaded", function () {
            const menuStates = JSON.parse(localStorage.getItem("menuStates")) || {};
            console.log("Loaded menuStates from localStorage:", menuStates);


            function restoreMenuState() {
                document.querySelectorAll(".nav-item").forEach(item => {
                    const title = item.getAttribute("data-menu-title");
                    const submenu = item.querySelector(".nav-treeview");
                    const toggleLink = item.querySelector(".toggle-menu");

                    if (!title || !submenu) return;

                    const isExpanded = menuStates[title];
                    if (isExpanded) {
                        submenu.classList.add("show");
                        toggleLink.classList.add("active");

                        // Expand parent menus
                        let parent = item.closest(".nav-treeview");
                        while (parent) {
                            parent.classList.add("show");
                            parent.closest(".nav-item")
                                ?.querySelector(".toggle-menu")
                                ?.classList.add("active");
                            parent = parent.closest(".nav-treeview");
                        }
                    } else {
                        submenu.classList.remove("show");
                        toggleLink.classList.remove("active");
                    }
                });
            }


            function setupMenuToggleListeners() {
                document.querySelectorAll(".nav-item").forEach(item => {
                    const title = item.getAttribute("data-menu-title");
                    const submenu = item.querySelector(".nav-treeview");
                    const toggleLink = item.querySelector(".toggle-menu");

                    if (!title) {
                        console.warn("Missing data-menu-title on nav-item:", item);
                        return;
                    }

                    toggleLink?.addEventListener("click", function (e) {
                        e.preventDefault();

                        const isExpanded = submenu?.classList.contains("show");
                        submenu?.classList.toggle("show", !isExpanded);
                        toggleLink.classList.toggle("active", !isExpanded);

                        menuStates[title] = !isExpanded;
                        localStorage.setItem("menuStates", JSON.stringify(menuStates));
                        console.log("Updated menuStates in localStorage:", menuStates);
                    });
                });
            }

            restoreMenuState();
            setupMenuToggleListeners();
        });
    </script>*@
